 body{

     font-family: monospace;
                 }
body{ 
   
    background-color: cornflowerblue;
            }
            
  body{ 

      font-style: oblique; 
            }
            
 h1{
     color: coral;
     text-align: center;
       
}
 h2{
   
     color: coral;
            }
